* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    width: 53%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 1px 50px 0px 2px;
    gap: 130px;
    margin-left: 38px;
    background-color: #f3e634;
    position: fixed;
    z-index: 1;
}


/* navbar logo */

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 3px;
}

.navbar .logo i {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
}


/* nabar list */

.navbar .list {
    display: flex;
    justify-content: space-between;
}


/* list ul */

.navbar .list ul {
    list-style-type: none;
    display: flex;
    gap: 38px;
}

.navbar .list ul li:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(121, 121, 7);
    cursor: pointer;
}


/* menu lines */

.navbar .menu-line {
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
}

.navbar .menu-line .line {
    width: 20px;
    height: 3px;
    background-color: black;
}


/*  main container */

.main-container {
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    top: 30px;
}


/*   add cart div*/

.main-container .add-cart {
    width: 60%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px 0px 20px 38px;
    row-gap: 20px;
}


/* added carts*/

.main-container .added-carts {
    width: 40%;
    height: auto;
    margin-top: 19px;
}

.add-cart .cart {
    width: 200px;
    height: 212px;
    box-shadow: 0px 0px 3px 1px rgb(97, 92, 82);
}


/*  div image */

.add-cart .cart .image {
    display: flex;
    justify-content: center;
}


/* imgame */

.add-cart .cart .image img {
    width: 50%;
    height: 35%;
    padding: 5px 0;
}


/* image 3 */

.add-cart #cart3 .image img {
    width: 46%;
}

.add-cart #cart4 .image img {
    width: 41%;
}

.add-cart #cart5 .image img {
    width: 59%;
}

.add-cart #cart6 .image img {
    width: 34%;
}

.add-cart #cart7 .image img {
    width: 64%;
}

.add-cart #cart8 .image img {
    width: 48%;
}

.add-cart #cart9 .image img {
    width: 47%;
}

.add-cart #cart10 .image img {
    width: 62%;
}

.add-cart .cart hr {
    border: 1px solid rgb(49, 44, 44);
}


/* image datail */

.add-cart .cart .details {
    height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.add-cart .cart .details big {
    font-size: 1.5rem;
}

.add-cart .cart .details p {
    display: flex;
    align-items: center;
    color: rgb(87, 83, 83);
}

.add-cart .cart .btnSpan {
    margin-left: 25px;
}

.add-cart .cart span button {
    width: 6rem;
    height: 30px;
    background-color: rgba(255, 255, 0, 0.829);
    border-radius: 40px;
    font-weight: bold;
    border: transparent;
    margin-left: 20px;
    cursor: pointer;
}

.add-cart .cart span button:hover {
    background-color: rgb(245, 245, 11);
}


/*  */

.cartJs {
    width: 33%;
    height: 213px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 0 4px gray;
    margin-bottom: 10px;
}

.cartJs img {
    width: 45%;
    height: 60%;
    padding: 10px 0px 10px 0px;
}

.remove {
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}