 body {
     background-color: rgb(226, 176, 176);
     display: flex;
     justify-content: center;
     margin-top: 10rem;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .todo {
     background-color: #fff;
     padding: 1rem 3rem 3rem 3rem;
     box-shadow: 0px 0px 4px 1px;
     border-radius: 4px;
 }
 
 input {
     padding: 5px;
 }
 
 .todo .addBtn {
     padding: 6px 15px;
     font-weight: bolder;
     background-color: rgb(24, 58, 58);
     border: transparent;
     border-radius: 3px;
     color: white;
     cursor: pointer;
 }
 
 .todo .addBtn:hover {
     box-shadow: 0px 0px 3px 2px rgb(128, 121, 121);
 }
 
 .text ul {
     background-color: rgb(24, 58, 58);
     text-align: left;
     padding: 1px;
     color: white;
     text-align: center;
 }
 
 .text ul button {
     float: inline-end;
     background-color: rgb(250, 247, 247);
     border: transparent;
     color: rgb(3, 3, 3);
     padding: 1.5px 5px;
     cursor: pointer;
 }
 
 .completed {
     text-decoration: line-through;
     color: grey;
 }
 
 .todo .buttons {
     padding: 14px 7px;
 }
 
 .todo .buttons .btns {
     padding: 6px 15px;
     font-weight: bolder;
     background-color: rgb(24, 58, 58);
     border: transparent;
     border-radius: 3px;
     color: white;
     cursor: pointer;
 }
 
 .todo .buttons .btns:hover {
     box-shadow: 0px 0px 3px 2px rgb(128, 121, 121);
 }